on:
  push:
    branches: main
  workflow_run:

name: Render README.md

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
          with:
            packages:
               any::tidyverse
               any::lubridate
      
      - name: Render document
        uses: quarto-dev/quarto-actions/render@v2

